@inject Microsoft.AspNetCore.Identity.SignInManager<DataAccessLayer.ApplicationUser> SignInManager
<div class="info">
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="#" class="d-block">@User.Identity.Name</a>


    }

</div>
