@model Entities.CustomerPayement

@{
   ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CustomerPayement</h4>
<hr />
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Effactuer le payment</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <form asp-action="Edit">
                            <input type="hidden" asp-for="Id" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Reference de payement:</label>
                                        <input asp-for="Ref" class="form-control" />
                                        <span asp-validation-for="Ref" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Client:</label>

                                        <select asp-for="Person_Id" class="form-control" asp-items="ViewBag.Person_Id"></select>
                                        <span asp-validation-for="Person_Id" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Prix:</label>
                                        <input asp-for="Price" class="form-control" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label ">Date de payment:</label>
                                        <input asp-for="Payement_date" class="form-control" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label ">dure:</label>
                                        <input type="number" asp-for="duration" class="form-control" required />
                                        <span asp-validation-for="duration" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>


                            <div class="card-footer">
                                <button type="submit" value="Create" class="btn btn-primary">Effactuer</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>


<div>
    <a asp-action="Index">Retournez à la Liste</a>
</div>

