@model Entities.CustomerPayement
<div class="row mr-3">
    <!-- left column -->
    <div class="col-md-12 m-1">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header bg-dark">
                <h3 class="card-title">Effactuer le payment</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <form asp-action="Edit">
                            <!--Partial for payement tags-->
                            <partial name="BasesEntity/_PayementBase">
                                <div class="card-footer text-center">
                                    <button type="submit" value="Create" class="btn btn-success" title="Ajouter payement"><i class="fas fa-save"></i></button>
                                </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $("#txtDure").val("1")
            $("#btnRef").click(function () {
                $("#txtRef").val(Date.now())
            })
        })
    </script>

}
