@model Entities.Expenses.Category_expense

@{
    ViewData["Title"] = "Create";

}




<!-- left column -->
<div dir="ltr" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="row">
            <div class="col-md-12 mt-1">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Classe de dépense</h3>
                    </div>
                    <div class="container ">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Name_Category"></label>
                                <input asp-for="Name_Category" placeholder="Entrer categorie de depense" class="form-control" id="searchInput" />
                                <span asp-validation-for="Name_Category" class="text-danger"></span>
                            </div>

                            <div class="card-footer">
                                <button type="submit" value="Create" class="btn btn-success">Effactuer</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 mt-1">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Classe de dépense</h3>
                    </div>
                    <div class="container ">
                      
                    </div>

                    <div class="container">
                        <div class="row body">

                        
                        </div>
                         
                  
                    </div>


                </div>
            </div>

        </div>


    </div>
</div>

<hr />
@section Scripts{ 
<script>
    $(function () {
        
        function getData(search) {
               var setData = $(".body")
                setData.html("")
              var dataa = ""
                $.ajax({
            type: "post",
            url: "/CategoriesExpense/Find?search=" + search,
            contentType: 'application/json',
            data: JSON.stringify(),
            success: function (result) {
                console.log(result)
                $.each(result, function (key, value) {
                    
                    if (result != 0) {
                     
                          dataa = '  <div class="col-sm-3 m-2 body"><i class="btn btn-secondary">' + value.name_Category + '</i></div>'
                          setData.append(dataa)
                    }
                    
                })
              
            }
        })
        }
        // declare variable search for test if user write something in input field and get all categories if search is null
        var search = ""
       if (search==""){
                     getData("")
                     }
        // search
        $("#searchInput").keypress(function () {
             search = $("#searchInput").val()
             getData(search)
         
        })
        //return the data if input field is clear and user leave the field
        $("#searchInput").blur(function () {
              search = $("#searchInput").val()
                  if (search==""){
                     getData("")
                     }
         
        })
       
    })
</script>
}