@model Entities.Expenses.Category_expense

@{
    ViewData["Title"] = "Edit";
}

<div  class="row mr-3">

   
        <div class="container">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12 mt-1">
                    <div class="card-header">
                        <h3 class="card-title">Classe de dépense</h3>
                    </div>
                    <div class="container ">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id_Category" />

                            <div class="form-group">
                                <label asp-for="Name_Category"></label>
                                <input asp-for="Name_Category" placeholder="Entrer categorie de depense" class="form-control" />
                                <span asp-validation-for="Name_Category" class="text-danger"></span>
                            </div>


                            <div class="card-footer text-center">
                                <button type="submit" value="Create" class="btn btn-success" title="Enregistrer"><i class="fas fa-save"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
  </div>





