@model CreatePersonViewModel
@{
    string path = "";
    if (Model != null)
        path = Model.ImageUrl ?? "Default.jpg";
}



<div class="row">
    <!-- left column -->
    <div class="col-md-12 mt-1">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header bg-dark">
                <h3 class="card-title">Entraineur</h3>
            </div>
            <form asp-action="Edit" enctype="multipart/form-data">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <!--Input File-->
                            <div class="form-group">
                                <label asp-for="image" class="control-label"></label>
                                <input asp-for="image" type="file" class="form-control" />
                                <span asp-validation-for="image" class="text-danger"></span>
                            </div>
                        </div>
                        <!--Image-->
                        <div class="col-sm-6">
                            <input type="hidden" asp-for="ImageUrl" />
                            <div class="form-group float-right mr-3 mt-2">

                                <img src="~/images/People/@path " alt="Image profile" class="img-fluid profile-user-img rounded-circle" />
                            </div>
                        </div>
                    </div>

                </div>

                <partial name="BasesEntity/_PersonBase" />
                <partial name="BasesEntity/_BaseEntity" />

                <!--Submit btn -->
                <div class="card-footer text-center">
                    <button type="submit" value="Create" class="btn btn-success" title="Enregistrer"><i class="fas fa-save"></i></button>
                </div>

            </form>

        </div>

    </div>
</div>






