
@model CreatePersonViewModel



<div class="row">

    <!-- left column -->
    <div class="col-md-12 m-1">
        <!-- general form elements -->
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">Ajouter nouveau client</h3>
            </div>

            <form asp-action="Create" enctype="multipart/form-data">
                <partial name="BasesEntity/_PersonBase" />
                <partial name="BasesEntity/_BaseEntity" />
                <!--Image file-->
                <div class="container">
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="image" class="control-label"></label>
                            <input asp-for="image" type="file" class="form-control" />
                            <span asp-validation-for="image" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>

                <!--Submit btn -->
                <div class="card-footer text-center">
                    <button type="submit" value="Create" class="btn btn-success" title="Enregistrer"><i class="fas fa-save"></i></button>

                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script>
    $(function () {
        $("#txtDure").val("1")
        $("#btnRef").click(function () {
            $("#txtRef").val(Date.now())
        })
})
    </script>

}










