
@model Entities.Customer



<div class="row">

    <!-- left column -->
    <div class="col-md-12 m-1">
        <!-- general form elements -->
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">Ajouter nouveau client</h3>
            </div>

            <form asp-action="Create">
                <partial name="BasesEntity/_PersonBase" />
                <partial name="BasesEntity/_BaseEntity" />

                <!--Submit btn -->
                <div class="card-footer text-center">
                    <button type="submit" value="Create" class="btn btn-success" title="Enregistrer"><i class="fas fa-save"></i></button>

                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script>
    $(function () {
        $("#txtDure").val("1")
        $("#btnRef").click(function () {
            $("#txtRef").val(Date.now())
        })
})
    </script>

}










